<div class="flex flex-row justify-between">
  <div class="flex flex-col w-full">
    <h2>HI EveryOne</h2>
    <br /><br><br><br>
    <img src="" alt="moksha-photo">
  </div>

  <div class="">
    <h1>About This Application</h1>
    <hr />
    <p class="">about this application if you write enough matter in this section it will come closer
      as the matter in this section increases the gap decreases so write as much possible here </p>
    <h4><b>for more details cheak my github profile:
        <a href="githublink" class=" text-red-500 hover:text-black hover:no-underline">click here!</a></b></h4>
    <h1 class="font-bold text-lg">Developer Intro</h1>
    <div class="">
      <p><b>Moksha</b></p>
      <p>yourwish</p>
      <p>Contact:yourmail@example.com</p>
    </div>
  </div>