<nav class="bg-black text-lg text-gray-500 flex felx-col p-3 justify-between align-center gap-5 pr-5">
  <div>
    <a routerLink="bookings" class="text-3xl text-white hover:no-underline">Air Ticketing System</a>
  </div>
  <div class="flex felx-col align-center gap-5">
    <a routerLink="bookings" class="hover:no-underline hover:text-white">List of Bookings</a>
    <a routerLink="add" class="hover:no-underline hover:text-white">Book Your Ticket</a>
    <a routerLink="about" class="hover:no-underline hover:text-white">About</a>
  </div>
</nav>
