<div class="flex flex-col">
  <!-- <div class="col-lg-6">
    <img
      src="https://2.bp.blogspot.com/-NyrPWVNHT1Y/XGbKoxKHouI/AAAAAAAABMQ/IMiSC8h3svIar5QWv-578PtKjRlTSKCaQCLcBGAs/s1600/500_F_225564511_dgATafcW8FdH8pYGA8vlxg0ixgUMRXMu.jpg">

  </div> -->

  <div class="flex flex-col gap-5 p-5 text-lg">
    <h3 class="text-white flex justify-center">Book Your Tickets</h3>
    <div [hidden]="submitted" class="px-11">
      <form (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
        <div class="flex flex-row gap-9">
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">First Name<h1>*</h1></label>
            <input type="text" placeholder="Your First Name"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="firstName" required [(ngModel)]="var_firstName" name="firstName">
          </div>
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">Last Name<h1>*</h1></label>
            <input type="text" placeholder="Your Last Name"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="lastName" required [(ngModel)]="var_lastName" name="lastName">
          </div>
        </div>
        <div class="flex flex-row gap-9">
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">Email ID<h1>*</h1></label>
            <input type="email" placeholder="yourmail@example.com"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="emailId" required [(ngModel)]="var_emailId" name="emailId">
          </div>
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">Contact No.<h1>*</h1></label>
            <input type="phone" placeholder="1234567890"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="phone" required [(ngModel)]="var_phone" name="phone">
          </div>
        </div>
        <div class="flex flex-col">
          <label for="name" class="text-red-500 flex">Address<h1>*</h1></label>
          <input type="text" placeholder="yor address"
            class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500 w-full"
            id="address" required [(ngModel)]="var_address" name="address">
        </div>
        <div class="flex flex-row gap-9">
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">From<h1>*</h1></label>
            <input type="text" placeholder="INDIA"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="source" required [(ngModel)]="var_source" name="source">
          </div>
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">To<h1>*</h1></label>
            <input type="text" placeholder="US"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="destination" required [(ngModel)]="var_destination" name="destination">
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-col">
            <label for="name" class="text-red-500 flex">Date of Visit<h1>*</h1></label>
            <input type="date"
              class="outline-none border-b-2 border-zinc-500 focus:border-red-500 caret-red-500 bg-black text-red-500"
              id="date" required [(ngModel)]="var_date" name="date">
          </div>
        </div>
        <div class="flex justify-center p-3">
          <button type="submit"
            class="bg-violet-600 hover:bg-violet-700 hover:text-rose-500 hover:font-bold p-2 w-1/2">Book my Ticket</button>
        </div>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
    </div>
  </div>
