<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Air Ticketing System</title>
</head>

<body class="bg-black">
  <div class="font-mono">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="container">
      <br>
      <h2 class="flex justify-center text-white font-bold">
        {{title}}
      </h2>
      <div class="">
        <div class="">
          <router-outlet></router-outlet>
        </div>
      </div>
      <br /><br />
    </div>
    <br /><br />
    <div class="footer bottom-0">
      <app-footer></app-footer>
    </div>
  </div>
</body>

</html>